In [1]:
import pandas as pd
from path import Path

file_path=Path("../Resources/loans_data_encoded.csv")
encoded_df = pd.read_csv(file_path)
encoded_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [2]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [3]:
loan_scaled = data_scaler.fit_transform(encoded_df)
loan_scaled[:5]

array([[ 0.49337687,  0.89789115,  2.28404253, -0.81649658, -0.16890147,
        -0.39336295,  1.17997648, -0.08980265, -0.88640526, -0.42665337,
         0.42665337],
       [ 0.49337687,  0.89789115,  3.10658738, -0.81649658,  0.12951102,
         2.54218146, -0.84747452, -0.08980265, -0.88640526,  2.34382305,
        -2.34382305],
       [ 0.49337687,  0.89789115,  0.3099349 , -0.81649658,  0.42792352,
         2.54218146, -0.84747452, -0.08980265, -0.88640526,  2.34382305,
        -2.34382305],
       [ 0.49337687, -0.97897162, -0.67711892, -0.81649658,  0.72633602,
        -0.39336295, -0.84747452, -0.08980265,  1.12815215, -0.42665337,
         0.42665337],
       [ 0.49337687,  0.89789115, -0.51260995, -0.81649658,  1.02474851,
        -0.39336295, -0.84747452, -0.08980265,  1.12815215,  2.34382305,
        -2.34382305]])

In [4]:
import numpy as np
print(np.mean(loan_scaled[:,0]))
print(np.std(loan_scaled[:,0]))

-3.552713678800501e-16
0.9999999999999999

In [7]:
loan_scaled.shape(0,)

(500, 11)

In [14]:
for col in range(loan_scaled.shape[1]):
    print(f"The mean for col",col,"is: ", np.mean(loan_scaled[:,col]))
    print(f"The STD  for col",col,"is: ", np.std(loan_scaled[:,col]))

The mean for col 0 is:  -3.552713678800501e-16
The STD  for col 0 is:  0.9999999999999999
The mean for col 1 is:  -1.7763568394002506e-16
The STD  for col 1 is:  1.0
The mean for col 2 is:  6.039613253960852e-17
The STD  for col 2 is:  1.0
The mean for col 3 is:  -5.684341886080802e-17
The STD  for col 3 is:  0.9999999999999999
The mean for col 4 is:  6.838973831690964e-17
The STD  for col 4 is:  1.0
The mean for col 5 is:  -4.263256414560601e-17
The STD  for col 5 is:  1.0
The mean for col 6 is:  1.2168044349891717e-16
The STD  for col 6 is:  0.9999999999999999
The mean for col 7 is:  -1.0658141036401503e-17
The STD  for col 7 is:  1.0000000000000004
The mean for col 8 is:  2.842170943040401e-17
The STD  for col 8 is:  1.0
The mean for col 9 is:  -2.842170943040401e-17
The STD  for col 9 is:  1.0
The mean for col 10 is:  3.907985046680551e-17
The STD  for col 10 is:  1.0